@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&family=Merriweather:wght@300;400;700&family=Noto+Serif:wght@400;600&family=JetBrains+Mono:wght@400;700&family=Outfit:wght@400;600&family=Press+Start+2P&family=Roboto+Mono:wght@400;500&display=swap');
@import "tailwindcss";

